form{
   padding:20px;
   cursor:pointer;
   display:block;
   height:100px;
   width:300px;
   margin:auto;
   text-align:center;
   border-radius:5px;
   background: -webkit-gradient(linear, left bottom, left top,color-stop(0,#FBE080),color-stop(1,#C0C0C0));
	background: -moz.linear-gradient(left bottom,#FBE080 0%, #C0C0C0 100%);
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
	-webkit-box-shadow:0 0 .5em rgba(0, 0, 0, .8);
}
h1{
	margin:auto;
	text-align:center;
	padding:20px;
}
body{
	background-image: url("http://images.forwallpaper.com/files/images/b/bcbe/bcbe0a1e/418092/air-tv-wallpaper.jpg");
}