body{
	background-image: url("http://k42.kn3.net/taringa/1/0/4/2/0/5/59/emylianoo_cross/A60.jpg?6456");
}
h1{
	display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
	color: CCFFCC;
	font-family:Comic Sans MS;
}
input{
    border-radius: 7px;
}